Conveyor/Debug/
Testing/bin/Debug/ConsoleApplication2.exe.config
Testing/bin/Debug/ConsoleApplication2.vshost.exe.config
Testing/bin/Debug/ConsoleApplication2.vshost.exe.manifest
Testing/obj/Debug/ConsoleApplication2.csproj.FileListAbsolute.txt
Testing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Testing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Testing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Testing/obj/Debug/Testing.csproj.FileListAbsolute.txt
Conveyor.sdf
